services:
  n8n:
    image: n8nio/n8n:2.7.2
    container_name: n8n
    restart: always
    env_file:
      - .env
    volumes:
      - n8n_data:/home/node/.n8n
    networks:
      - internal_network
    deploy:
      resources:
        limits:
          memory: 1G
          cpus: "1"

volumes:
  n8n_data:
    driver: local

networks:
  internal_network:
    external: true
